<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Breakout Projekt</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav>
        <div class="nav-left">
            <a href="/login">Uživatelský Login</a>
        </div>
        <div class="nav-right">
            <a href="/">Domů</a>
            <a href="/tab">Tabulka výsledků</a>
            <a href="/about">O projektu</a>
        </div>
    </nav>

    <div class="container">
        <h1>Vítejte v projektu Breakout</h1>
        <p>Tato webová aplikace slouží k zobrazení nejlepších výsledků a informací o hře.</p>
    </div>

</body>
</html>