<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Breakout - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="nav-left"><strong>Breakout Hra</strong></div>
        <div class="nav-right">
            <a href="/">Domů</a>
            <a href="/tab">Žebříček</a>
        </div>
    </nav>

    <div class="container">
        <h2>Přihlášení</h2>
        <p>Zadej jméno, pod kterým hraješ ve hře, pro zobrazení svých statistik.</p>
        <br>
        <form method="POST" action="/login">
            <input type="text" name="username" placeholder="Tvoje herní jméno" required style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
            <br>
            <button type="submit" class="btn-main">Vstoupit do profilu</button>
        </form>
    </div>
</body>
</html>