<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Výsledky</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav> <div class="nav-left">
            <a href="/login">Uživatelský Login</a>
        </div>
        <div class="nav-right">
            <a href="/">Domů</a>
            <a href="/tab">Tabulka výsledků</a>
            <a href="/about">O projektu</a>
        </div>
    </nav>

    <div class="container">
        <h1>LEADERBOARD</h1>

        <h2>🟢 Lehká obtížnost</h2>
        <table>
            <thead><tr><th>Hráč</th><th>Čas</th></tr></thead>
            <tbody>
                {% for r in lehka %} <tr><td>{{ r.jmeno }}</td><td>{{ r.cas }}</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>🟡 Střední obtížnost</h2>
        <table>
            <thead><tr><th>Hráč</th><th>Čas</th></tr></thead>
            <tbody>
                {% for r in stredni %} <tr><td>{{ r.jmeno }}</td><td>{{ r.cas }}</td></tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>🔴 Těžká obtížnost</h2>
        <table>
            <thead><tr><th>Hráč</th><th>Čas</th></tr></thead>
            <tbody>
                {% for r in tezka %} <tr><td>{{ r.jmeno }}</td><td>{{ r.cas }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>